<div class="main">
    <div class="secondary">
    <div class="title">
        <label for="title">Title :</label>
        <input type="text" id="title" class="form-control" [(ngModel)]="title">
    </div>
    <div class="text-editor">
        <ejs-richtexteditor #exampleRTE  >
            <ng-template>
                <p>hello world</p>
            </ng-template>
        </ejs-richtexteditor>
    </div>
    <button ej-button id='button' class="e-control e-btn" (click)="getFormattedContent()">Submit</button>
    </div>

</div>