.main{
    width:100%;
    overflow: auto;
    /* background-color: teal; */
    color: white;
    background:linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.secondary{
    width: 80%;
    margin: 20vh auto;
   
    
}
.title{
    margin: 3vh;
}
.title label{
    margin-bottom: 1vh;
}
.e-btn{
    margin: 2vh;
}
table{
    width: 100%;
    
}
/* .e-toolbar{
    display:none;
} */
/* #richtexteditor_1913018867_0_toolbar{
    display:none !important;
} */
@media screen and (max-width:600px){
    /* #richtexteditor_1913018867_0_toolbar{
        display:block !important;
    } */
    .tbl{
        display:none;
    }
    .e-toolbar{
        display:block !important;
        
    }
}