<div class="main">
    <div class="second">
        <div class="left">
            <p>Hi, <b class="text-info">{{user}} </b></p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur odio, ratione cumque
            distinctio minus aut qui consequuntur sint repudiandae at repellendus quaerat dignissimos dolore accusamus
            nobis quisquam eveniet, veritatis cum saepe laborum soluta.</div>
            <div class="frame-o">
                <div class="frame" *ngFor="let item of data" class="scale-in-center">
            <app-blog [blogList]="item"></app-blog>
        </div>
    </div> 
            </div>
       

</div>