<div class="main">
    <div class="second">
        <div class="left">
            <p>Hi, <b class="text-info">{{user}} </b></p>
            <div class="drop">
                <span>Sort by</span>
                <div class="item">
                    <li (click)="timeSort()">time</li>
                    <li (click)="titleSort()">title</li>
                </div>
            </div>
        </div>
        <div class="frame-o">
            <div class="frame scale-in-center" *ngFor="let item of data">
                <app-blog [blogList]="item"></app-blog>
            </div>
        </div>
    </div>


</div>
<div class="spinner">
    <div class="spinner-border"></div>
</div>