.main{
    width: 100%;
    background-color:lightgrey;
    color:darkblue;
    height: auto;
    z-index: -3;
}
.second{
    /* width:80%; */
    /* margin: auto; */
    /* background-color:rgb(117, 31, 31); */
    position: relative;
    top: 2vh;
    display: flex;
    justify-content:space-around;
}
.left{
    width:25%;
    /* background-color:cyan; */
    margin-top:20vh;
}
.frame-o{
    margin-top:5rem;
    display:block;
    width:100vh;
    word-wrap:break-word;
}
.frame{
  margin-top:10vh;
  
}
.spinner{
  position: absolute;
  /* width:25%;
  height:25%;
  background-color:red; */
  top:50vh;
  right:68vh;
  /* border-radius:100rem;
  padding:0; */
  
}
.item{
  display:none;
  
}

.drop{
  /* background-color:green; */
  height:auto;
  width:auto;
  text-align:center;
}
.drop:hover .item{
  display:block;
  /* background-color: #018786; */
}
img{
  width:2vh;
  height: 2vh;
}

/* From cssbuttons.io by @lenin55 */
.cl-toggle-switch {
  position: relative;
  margin:30px;
 }
 
 .cl-switch {
  position: relative;
  display: inline-block;
 }
 /* Input */
 .cl-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
 }
 /* Track */
 .cl-switch > span::before {
  content: "";
  float: right;
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgb(0, 0, 0, 0.38);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
 }
 /* Thumb */
 .cl-switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
 }
 /* Checked */
 .cl-switch > input:checked {
  right: -10px;
  background-color: #85b8b7;
 }
 
 .cl-switch > input:checked + span::before {
  background-color: #85b8b7;
 }
 
 .cl-switch > input:checked + span::after {
  background-color: #018786;
  transform: translateX(16px);
 }
 /* Hover, Focus */
 .cl-switch:hover > input {
  opacity: 0.04;
 }
 
 .cl-switch > input:focus {
  opacity: 0.12;
 }
 
 .cl-switch:hover > input:focus {
  opacity: 0.16;
 }
 /* Active */
 .cl-switch > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
 }
 
 .cl-switch > input:active + span::before {
  background-color: #8f8f8f;
 }
 
 .cl-switch > input:checked:active + span::before {
  background-color: #85b8b7;
 }
 /* Disabled */
 .cl-switch > input:disabled {
  opacity: 0;
 }
 
 .cl-switch > input:disabled + span::before {
  background-color: #ddd;
 }
 
 .cl-switch > input:checked:disabled + span::before {
  background-color: #bfdbda;
 }
 
 .cl-switch > input:checked:disabled + span::after {
  background-color: #61b5b4;
 }

.scale-in-center {
	-webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-3-19 12:52:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
  /* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); */

  

  
  
@media screen and (max-width: 600px) {
.second{
  display:flex;
  flex-direction: column;
}
.frame-o{
    width:100%;
}
.left{
  width:100%;
  text-align: center;
}
.spinner{
  top:55vh;
  left:25vh;
}
}