<div class="main">
    <div class="second">
        <div class="left">
            <p class="text-center">Hi, <b class="text-black text-capitalize">{{user}} </b></p>
            <div class="drop">
            <button class="btn btn-light"> 
                 <span>Sort by <img src="assets\icons8-expand-arrow.gif"></span>
            </button>   
                <div class="item">
                    <!-- <li (click)="timeSort()">time</li> -->
                    <!-- <li (click)="titleSort()">title</li> -->
                    <div class="cl-toggle-switch">
                        <label class="cl-switch">
                          <input type="checkbox" id="default" name="default" [checked]="true"  (change)="default()">
                          <span>Default :</span>
                        </label>
                      </div>
                    <div class="cl-toggle-switch">
                        <label class="cl-switch">
                          <input type="checkbox" id="title" name="titleSort" (change)="titleSort($event)">
                          <span>Title :</span>
                        </label>
                      </div>
                    <div class="cl-toggle-switch1">
                        <label class="cl-switch">
                          <input type="checkbox" id="time" name="time" (change)="timeSort()">
                          <span>Time :</span>
                        </label>
                      </div>
                </div>
            </div>
        </div>
        <div class="frame-o">
            <div class="frame scale-in-center" *ngFor="let item of data">
                <app-blog [blogList]="item"></app-blog>
            </div>
        </div>
    </div>


</div>
<div class="spinner">
    <div class="spinner-border"></div>
</div>