.profile{
    display:none;
}
 img{
    width:5vh;
    height: 5vh;
}
.navbar-brand{
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
}
.nav-item{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}